div{
  position:absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left:50%;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  width: 600px;
}
h1 {
  display: flex;
  font-size: 1rem;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

